.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.hasBackground {
  padding: 5px;
  background: var(--colors-primary-highlight);
  border-radius: var(--border-radius-full);
}
