.button {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: max-content;
  max-width: 300px;
  padding: 10px 20px;
  font-size: var(--font-size-2xl);
  border: 1px solid var(--colors-transparent);
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadows-down-sm);
  transition: all 0.5s ease;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  filter: brightness(0.9);
}

.type-primary {
  color: var(--colors-white);
  background: var(--colors-primary);
}

.type-secondary {
  color: var(--colors-primary);
  background: transparent;
  border: 1px solid var(--colors-primary);
}

.type-tertiary {
  width: auto;
  padding: 0;
  color: var(--colors-primary);
  background: var(--colors-transparent);
  border-bottom: 1px solid var(--colors-primary);
  border-radius: var(--border-radius-none);
  box-shadow: var(--shadows-none);
}
